@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('titilliumtext22l002-webfont.eot');
    src: url('titilliumtext22l002-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('titilliumtext22l002-webfont.woff') format('woff'),
         url('titilliumtext22l002-webfont.ttf') format('truetype'),
         url('titilliumtext22l002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('titilliumtext22l001-webfont.eot');
    src: url('titilliumtext22l001-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('titilliumtext22l001-webfont.woff') format('woff'),
         url('titilliumtext22l001-webfont.ttf') format('truetype'),
         url('titilliumtext22l001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.menutop li{font-family: 'TitilliumText22LLight';}

#rt-logo {
  background: url("../images/logo/logo.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 158px;
  width: 237px;
}
#rt-sidebar-a .rt-block {padding:0}
.rt-container .rt-push-3 {
  left: 260px;
}
.rt-container .rt-grid-9 {
  width: 680px;
}
.rt-container .rt-pull-9 {
  left: -681px;
}
.rt-container .rt-grid-3 {
  margin-right: 0;
  width: 240px;
}

#rt-main .rt-grid-9 {
	margin-left:0;
margin-top: -100px;
}

#rt-main .rt-grid-9{background:#fff; border:solid #e6e7e8; border-width:0 1px 1px 0; border-radius:8px 0 8px 8px; -moz-border-radius:8px 0 8px 8px; -webkit-border-radius:8px 0 8px 8px; -khtml-border-radius:8px 0 8px 8px; overflow:hidden}
#rt-content-top .rt-grid-9{background:#none; border-radius:0;  border:0; -moz-border-radius:0; -webkit-border-radius:0; -khtml-border-radius:0;}
.rt-container {
  background: none repeat scroll 0 0 transparent;
}


#rt-content-top .rt-block {
  margin: 0;
  padding: 15px 15px 0 15px;
}

#rt-content-top .rt-grid-5 {width:196px; margin:0}
#rt-content-top .rt-grid-4 {width:75px; margin:0}
.search_button {
  background: url("../images/body/search_btn.png") repeat scroll 0 0 transparent;
  border: 0 none;
  height: 21px;
  left: -25px;
  position: relative;
  top: 3px;
  width: 21px;
}
.inputbox {
  background: url("../images/body/search_box.png") repeat scroll 0 0 transparent;
  border: 0 none;
  float: left;
  height: 25px;
  width: 175px;
}

#rt-sidebar-a {
  background: none repeat scroll 0 0 transparent;
}
#rt-menu ul.menu li.active a, #rt-menu ul.menu li.active a:hover, .menutop li.root.active > .item, .menutop li.root.active > .item:hover, .menu-type-splitmenu .menutop li.active .item {
  background:none;
  color: #fff;
  text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.4);
}

/*
#rt-sidebar-a{min-height:404px; overflow:hidden; border-radius:8px 0 0 8px; -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; -khtml-border-radius:8px 0 0 8px; background:url(../images/body/sidepanel-pattern.png) repeat scroll 50% 0 #0A5785}
*/

#rt-sidebar-a .rt-fusionmenu {
  background: url("../images/body/sidepanel-pattern.png") repeat scroll 50% 0 #0A5785;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  padding: 10px 0;
}

#rt-menu ul.menu li a, .menutop li.root > .item, .menu-type-splitmenu .menutop li .item {
color: #001A2E;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.module-title{background:url(../images/body/sidepanel-gradient.png) no-repeat scroll 0 0 transparent}

.module-title h2{color: #001A2E;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3); letter-spacing:0; font-size:30px; font-family: 'TitilliumText22LThin'; margin:0; padding:25px 20px 20px; background:url(../images/body/sidepanel-div2.png) left bottom no-repeat}

#rt-feature .rt-grid-6 {
  left: 604px;
  margin-top: -139px;
}

#rt-feature .rt-grid-6 {
  background: url("../images/body/social-top.png") no-repeat scroll 0 0 transparent;
  height: 32px;
  padding-left: 40px;
  padding-top: 7px;
  position: relative;
  width: 287px;
}
#rt-feature .rt-block {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

#rt-header .rt-block{padding: 15px 5px;}

#rt-content-top .rt-grid-9 {margin-top:0}

#super_home {background:#f0f0f0 !important; border:#cdcdcd solid 1px; padding:4px}

.component-content .title {
  color: #001A2E;
    font-family: 'TitilliumText22LLight';
  font-size: 30px;
  letter-spacing: 0;
  margin: 0 0 5px 0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

.component-content .title a {
  color: #001A2E;
}

#rt-copyright {margin-top:20px}
#rt-copyright .rt-container {width:924px;border-width:0 1px 1px 0; border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; -khtml-border-radius:8px 8px 0 0; overflow:hidden; background: none repeat scroll 0 0 #181818 !important;
border-color: #000000 #404040 #404040 #000000;
border-style: solid;
border-width: 1px 1px 0;}
#rt-copyright .rt-container p{font-family: 'TitilliumText22LThin';
  font-weight: normal; color: #DDDDDD;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5); font-size:15px; margin-bottom:3px}
#rt-copyright .rt-container .rt-grid-12 {width:924px; margin:0}
#rt-copyright .rt-container .rt-grid-12 .rt-block {padding:5px 15px; margin-bottom:0}
#rt-bottom .rt-container {background:#fff !important; border:solid #e6e7e8; border-width:0 1px 1px 0; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px; overflow:hidden; width:924px; margin-top:20px}
#rt-bottom .rt-block{margin-bottom:0}
#rt-bottom .rt-block p{margin-bottom:0;}
#rt-bottom .rt-container .rt-grid-12{margin:0; width:924px}
#test2 a, #test3 a{padding:0 10px}
.fadeslidedescdiv {
  background: url("../images/body/slideshow_shadow.png") no-repeat scroll right bottom transparent;
  height: 56px !important;
  top: 180px !important;
  width: 370px !important;
}
.descpanelfg {width:355px !important; height:28px !important; background:#fff !important; opacity:0.7; top:0px !important; left:0 !important;
  color: #111111 !important; text-transform:capitalize;
  font-family: 'TitilliumText22LLight';
  font-size: 18px;
  letter-spacing: 0; padding-left:20px !important;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

#rt-header .rt-block{margin: 0;
padding-bottom: 5px;}

#rt-mainbody input{border: 1px solid #e5e5e5;
border-radius: 5px 5px 5px 5px;
height: 17px; padding:3px}
#rt-mainbody textarea{border: 1px solid #e5e5e5;
border-radius: 5px 5px 5px 5px; padding:3px}

.fc_button input {
  cursor: pointer;
  height: 24px !important;
  left: 377px;
  position: relative;
  width: 80px;
}


.page-header h2 {
    color: #001A2E;
    font-family: 'TitilliumText22LLight';
    font-size: 30px;
    letter-spacing: 0;
    margin: 0 0 5px 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}
#mod-search-searchword{width:150px !important;}
.mod_search142{margin-top:5px !important;}

.descpanelbg{background:none !important}

.gallerylayer{background:#fff !important; padding:5px !important}

.bfQuickMode .bfRequired {
    vertical-align: top;
    background: none;
    font-size: 100%;
    font-weight: bold;
    border: none;
    padding: 0px 0px 0px 5px;
    margin: 0px;
    color: #f00;
    float: right !important;
}

#ff_formdiv1{border:1px solid #ccc; border-radius:4px; padding:15px;}
#bfSubmitButton{background:#0A5D8D; padding:5px 10px; border:1px solid #000;
color:#fff;
border-radius:2px;
box-shadow:0 0 2px #000;

}

#bfSubmitButton:hover{
  background:#004C91;
  border:1px solid #0A5D8D;
}